[Unit]
Description=Sommelier Frontend (Next.js)
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/sommelier_frontend
ExecStart=/usr/bin/npm run start
Restart=always
Environment=NODE_ENV=production
# Extendemos el PATH para que systemd encuentre los binarios de node_modules/.bin
Environment=PATH=/usr/bin:/usr/local/bin:/srv/sommelier_frontend/node_modules/.bin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
