name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build frontend
        run: |
          npm install
          npm run build
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.SOMMELIER_FRONT_API_URL }}

      - name: Deploy frontend service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SOMMELIER_FRONT_HOST }}
          username: ${{ secrets.SOMMELIER_FRONT_USER }}
          key: ${{ secrets.SOMMELIER_FRONT_SSH_KEY }}
          port: 22
          script: |
            # Actualizar código
            cd /srv/sommelier_frontend
            git pull origin main

            # Copiar unit file del frontend
            sudo cp deploy/sommelier_frontend.service /etc/systemd/system/
            sudo systemctl daemon-reload
            sudo systemctl restart sommelier_frontend.service

            # Copiar configuración Nginx
            sudo cp deploy/nginx/tusommeliervirtual.conf /etc/nginx/sites-available/
            sudo ln -sf /etc/nginx/sites-available/tusommeliervirtual.conf /etc/nginx/sites-enabled/
            sudo nginx -t
            sudo systemctl reload nginx
